.navBar {
  position: absolute;
  bottom: -3rem;
  left: 45%;
  display: flex;
  width: 7vw;
  justify-content: space-between;
  z-index: 2;
  background-color: var(--curr-backdrop);
  border: 1px solid var(--curr-color);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: transform 500ms;
  will-change: transform;

  &:hover {
    transform: scale(1.25);
  }
}

.navButton {
  border-radius: 50px;
  width: 1rem;
  height: 1rem;
  background-color: var(--opp-color);
  border: 1px solid var(--curr-color);
  will-change: transform;
  transition: transform 500ms;

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.active {
  composes: navButton;
  background-color: var(--curr-color);
  opacity: 0.8;
  border: none;
}
