.mainPage {
  font-size: var(--font-size-med);
  text-align: center;
  background-blend-mode: overlay;

  > section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    scroll-snap-align: center;
    padding-inline: 1rem;

    > * {
      z-index: 1;
    }
  }

  h1 {
    font-weight: var(--font-weight-heading);
    font-size: var(--font-size-large);
    text-decoration: underline solid 2px;
    text-underline-offset: 5px;
  }

  a {
    font-style: italic;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid;
    cursor: pointer;
    color: inherit;
    will-change: contents;
    transition: background-color 500ms ease-out, color 500ms ease-out;
  }

  p {
    font-weight: var(--font-weight-normal);
  }
}

.dark {
  composes: mainPage;
  color: var(--font-dark);
  background-color: var(--bgc-dark);

  a:hover {
    background-color: var(--backdrop-light);
    color: var(--font-light);
  }

  a,
  p,
  h1 {
    background-color: var(--backdrop-dark);
  }
}

.light {
  composes: mainPage;
  color: var(--font-light);
  background-color: var(--bgc-light);

  a:hover {
    background-color: var(--backdrop-dark);
    color: var(--font-dark);
  }

  a,
  p,
  h1 {
    background-color: var(--backdrop-light);
  }
}
