.navBar {
  display: flex;
  gap: 3rem;
  align-items: center;

  a {
    transition: transform 0.4s ease-out, border-style 0.4s;

    &:hover {
      background-color: var(--curr-backdrop);
      color: var(--curr-color);
    }
  }
}

.active {
  transform: scale(1.1);
}

a.inactive {
  border-style: dashed;

  &:hover {
    transform: scale(1.1);
    border-style: solid;
  }
}
