.project {
  min-height: 75vh;
  background-color: var(--curr-backdrop);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem 3rem;
  scroll-snap-align: center;
  padding: 1rem;
  border: 1px solid var(--curr-color);
  border-radius: 15px;
  box-shadow: 0 0 3px 2px var(--curr-color);

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
  }

  > h1 {
    font-size: var(--font-size-medplus);
    justify-self: center;
    align-self: center;
  }

  > div > a {
    margin-inline: 1rem;
  }
}
