.project {
  display: grid;
  grid-template-columns: 2fr 3fr;
  scroll-snap-align: center;
  padding-block: 1rem;
  gap: 1rem;
  min-height: 60vh;

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
  }

  > h1 {
    font-size: var(--font-size-medplus);
  }

  ul {
    width: fit-content;
    justify-self: center;
  }

  li {
    padding-left: 1ch;
  }

  > div > a {
    margin-inline: 1rem;
  }
}

.dark {
  composes: project;
  background-color: var(--backdrop-dark);

  li {
    list-style: circle;
  }
}

.light {
  composes: project;
  background-color: var(--backdrop-light);

  li {
    list-style: disc;
  }
}
