.container {
  position: relative;
  grid-row: span 4;
  align-self: center;

  @media (max-width: 1050px) {
    min-height: 375px;
  }

  @media (max-width: 500px) {
    min-height: 200px;
  }

  &:hover {
    background-color: inherit;
  }
}

.image {
  transition: opacity 1000ms;
  opacity: 0;
  position: absolute;
  top: 0;
  will-change: opacity;
}

.front {
  composes: image;
  position: static;
  opacity: 1;
}
