@font-face {
  font-family: "Cormorant";
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
  src: url("./assets/Cormorant/Cormorant-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
  src: url("./assets/Cormorant/Cormorant-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains";
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
  src: url("./assets/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains";
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
  src: url("./assets/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  font-family: "JetBrains", "Cormorant", system-ui;

  --font-size-large: 40px;
  --font-size-medplus: 36px;
  --font-size-med: 28px;
  --font-size-small: 20px;

  --font-weight-heading: 550;
  --font-weight-normal: 450;

  --backdrop-dark: rgba(0, 0, 0, 0.5);
  --backdrop-light: rgba(255, 255, 255, 0.7);
  --bgc-dark: black;
  --bgc-light: white;
  --font-light: black;
  --font-dark: white;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1050px) {
    --font-size-large: 33px;
    --font-size-medplus: 30px;
    --font-size-med: 23px;
    --font-size-small: 16px;
  }

  @media (max-width: 500px) {
    --font-size-large: 30px;
    --font-size-medplus: 27px;
    --font-size-med: 21px;
    --font-size-small: 15px;
  }
}

#root {
  position: relative;
  user-select: none;
}
