@font-face {
  font-family: "JetBrains";
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains";
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
  src: url("./assets/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  @media (min-width: 1920px) {
    /* annoying on mobile devices */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  font-family: "JetBrains", "Cormorant", system-ui, sans-serif;
  font-size: 24px;

  @media (max-width: 1400px) {
    font-size: 20px;
  }

  @media (max-width: 1000px) {
    font-size: 16px;
  }

  --font-size-large: 2rem;
  --font-size-med: 1.5rem;
  --font-size-small: 0.75rem;

  --font-weight-heading: 550;
  --font-weight-normal: 450;

  --backdrop-dark: rgba(0, 0, 0, 0.5);
  --backdrop-light: rgba(255, 255, 255, 0.7);

  --bgc-dark: black;
  --bgc-light: white;
  --font-light: black;
  --font-dark: white;
}

#root {
  position: relative;
  user-select: none;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  scroll-snap-align: center;
  padding-inline: 1rem;

  > * {
    z-index: 1;
  }
}

ul {
  width: fit-content;
  justify-self: center;

  > li {
    padding-left: 1ch;
    list-style: var(--curr-li);
  }
}

svg {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

a,
p,
h1,
h2 {
  background-color: var(--curr-backdrop);
  color: var(--curr-color);
}

h1,
h2 {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-large);
  text-decoration: underline solid 2px;
  text-underline-offset: 5px;
  width: fit-content;
}

h2 {
  font-size: var(--font-size-med);
}

a {
  font-style: italic;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid;
  cursor: pointer;
  transition: background-color 500ms ease-out, color 500ms ease-out;

  &:hover {
    background-color: var(--opp-backdrop);
    color: var(--opp-color);
  }

  &:has(svg) {
    border: none;
    padding: 0;
    transition: none;
    vertical-align: bottom;
    transition: transform 500ms;

    &:hover {
      background-color: var(--curr-backdrop);
      transform: scale(1.2);
    }
  }
}

p {
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}
