.introContainer {
  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    > div {
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--curr-color);
      border-radius: 15px;
      padding: 1rem;
      box-shadow: 0 0 3px 2px var(--curr-color);

      > hr {
        align-self: stretch;
      }
    }
  }
}
